extends dashboard
block dashboard__content
	form.pure-form.add-user-form
		input(class='pure-input-1' placeholder='Логін')

		input(class='pure-input-1' placeholder='Прізвище')
		input(class='pure-input-1' placeholder='Ім\'я')

		input(class='pure-input-1' placeholder='Пароль')
		input(class='pure-input-1' placeholder='Підтвердити пароль')

		input(
			class='pure-button button-success pure-input-1'
			type='submit' value='Додати')

