extends layout
block content
	include ./dashboard-menu.pug

	div(class='pure-g layout')
		header(class='dashboard--header pure-u-1')
			div(class='header--logo')
				i(class='fa fa-trophy')
				|LeaderTeam
			ul(class='header__list')
				li(class='header__item')
					a(class='header__link' href='/profile')
						i(class='fa fa-user-alt')
						|Мій профіль
				li(class='header__item')
					a(class='header__link' href='/logout')
						i(class='fa fa-sign-out-alt')
						|Вийти

		div(class='content pure-u-1')
			div(class='content__container')
				header(class='content__header')= title
					a(
						class='pure-button pure-button-primary header__new-role'
						href='/dashboard/reports/form/add'
					)= actionTitle
				main(class='content__main')
					block dashboard__content
				// footer(class='content__footer')
					ul(class='paginator')
						li(class='paginator__item paginator__previous')
							a
								i(class='fa fa-chevron-left')
						li(class='paginator__item')
							a 1
						li(class='paginator__item')
							a ...
						li(class='paginator__item')
							a 100
						li(class='paginator__item paginator__next')
							a
								i(class='fa fa-chevron-right')

		footer(class='dashboard--footer pure-u-1') LeaderTeam Copyright 2018
