extends layout

block content
	form(class='form form--type-login' onsubmit='../public/javascripts/login.js')
		input(type='text' placeholder='Username')
		br
		input(type='password' placeholder='Password')
		br
		input(type='submit' value='log in')
