.layout {
	box-sizing: border-box;
	height: 100%;
	padding-bottom: 50px;
	padding-top: 50px;
	overflow: auto;
}

.dashboard-menu {
	display: inline-block;
	width: 200px!important;
	height: 100%!important;
	background-color: #191818;
	overflow: auto;
	float: left;
}

.dashboard-menu_section-heading {
	display: block;
	text-transform: uppercase;
	padding: 0.625em 1em 0.625em 2em;
	color: #ffffff44;
}

.dashboard-menu_link {
	display: block;
	color: #999;
	cursor: pointer;
	padding: 0.625em 1em;
}

.dashboard-menu_link:hover {
	background-color: #ffffff22;
}

.link__selected {
	background-color: #1f8dd6;
	color: #fff;
}

.link__selected:hover {
	background-color: #1f8dd6;
}

.block-underline {
	border-bottom: 1px solid #ffffff22;
}

.dashboard-menu_heading {
	color: #fff;
	font-size: 1.25em;
	text-transform: uppercase;
	text-align: center;
	display: block;
	padding: 0.625em 1em;
}

.dashboard--header {
	font-family: Roboto!important;
	height: 50px;
	line-height: 50px;
	background-color: #fff;
	margin-top: -50px;
	padding-left: 50px;
	padding-right: 50px;
	color: #333;
	z-index: 1;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1),
		0 -1px 0 rgba(0, 0, 0, .02);
}

.header--logo {
	font-size: 1.5em;
	float: left;
	width: 200px;
}

.header__list {
	list-style-type: none;
	float: right;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.header__item {
	display: inline-block;
	padding-left: 10px;
}

.content {
	min-height: 100%;
	font-family: Roboto!important;
	background-color: #f0f0f0;
	text-align: center;
	font-size: 1em;
	color: #333;
	padding: 10px;
}

.content__container {
	width: 100%;
	min-height: 100%;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1),
		0 -1px 0 rgba(0, 0, 0, .02);
}

.content__header {
	background-color: #f9f9f9;
	padding: 10px;
	padding-left: 50px;
	text-align: left;
	font-size: 1.75em;
	border-bottom: 1px solid #00000022;
}

.content__footer {
	border-top: 1p solid #00000022;
}

.paginator {
	display: inline-block;
	cursor: pointer;
	list-style-type: none;
	padding: 0;
	font-size: 1.25em;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1),
		0 -1px 0 rgba(0, 0, 0, .02);
	color: #666;
}

.paginator__item {
	display: inline-block;
	padding: 5px 10px;
	border-right: 1px solid #00000011;
}

.content__main {
	padding: 50px;
	text-align: left;
}

.dashboard--footer {
	height: 50px;
	line-height: 50px;
	background-color: #f0f0f0;
	color: #999;
	border-top: 1px solid #ddd;
	margin-bottom: -50px;
	text-align: center;
}
